{% extends "base.html" %}
{% block content %}
<div class="header">
    <h3>Diploma Project</h3>
</div>

<div class="row">
    <div class="leftcolumn">
        {% for post in posts %}
        <div class="card">
            <div class="card-header">{{post.title}}</div>
            <hr>
            <div class="card-body">
                <p class="card-text">
                    {{post.content}}
                </p>
                <button type="button" class="button"><a href="{{post.get_absolute_url}}">Read More</a></button>
            </div>
            <div class="card-footer">{{post.created}} by {{post.author}}</div>
        </div>
        {% endfor %}
    </div>


    <div class="rightcolumn">
        <div class="card">
            <h2><a href="{% url 'about' %}">About Me</a></h2>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="card">
            <h2><a href="{% url 'projects' %}">My Projects</a></h2>
            <div class="fakeimg"><img src="../media/img/avatar/project_img.png" alt=""></div>
        </div>
    </div>
</div>
<div class="pagination">
    {% if page_obj.has_previous %}
    <a class="pagination-action" href="?page=1">
        <i class='bx bx-chevrons-left' aria-hidden="true"></i> </a>
    <a class="pagination-action" href="?page={{ page_obj.previous_page_number }}">
        <i class='bx bx-chevron-left' aria-hidden="true"></i>
    </a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if files.number == num %}
    <span class="pagination-number pagination-current">{{ num }}</span>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a class="pagination-action" href="?page={{ page_obj.next_page_number }}">
        <i class='bx bx-chevron-right' aria-hidden="true"></i>
    </a>
    <a class="pagination-action" href="?page={{ page_obj.paginator.num_pages }}">
        <i class='bx bx-chevrons-right' aria-hidden="true"></i>
    </a>
    {% endif %}
</div>
<div class="footer">
    <div class="footer-content">
        <h3>Alex's Footer</h3>
        <p>Alex's Footer is a footer of website where you can find info about me and about my projects</p>
    </div>
    <p>copyright &copy;2022</p>
</div>
{% endblock %}