{% extends "base.html" %}
{% block content %}
<div class="header">
    <h2>Blog Name</h2>
</div>

<div class="row">
    <div class="leftcolumn">
        {% for post in posts %}
        <div class="card">
            <div class="card-header">{{post.title}}</div>
            <hr>
            <div class="card-body">
                <p class="card-text">
                    {{post.content}}
                </p>
                <button type="button" class="button"><a href="{{post.get_absolute_url}}">Read More</a></button>
            </div>
            <div class="card-footer">{{post.created}} by {{post.author}}</div>
        </div>
        {% endfor %}
    </div>


    <div class="rightcolumn">
        <div class="card">
            <h2><a href="{% url 'about' %}">About Me</a></h2>
            <div class="fakeimg" style="height:100px;">Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="card">
            <h3><a href="{% url 'projects' %}">My Projects</a></h3>
            <div class="fakeimg">Image</div>
        </div>
    </div>
</div>
<div class="pagination">
    {% if page_obj.has_previous %}
    <a class="pagination-action" href="?page=1">
        <i class='bx bx-chevrons-left' aria-hidden="true"></i> </a>
    <a class="pagination-action" href="?page={{ page_obj.previous_page_number }}">
        <i class='bx bx-chevron-left' aria-hidden="true"></i>
    </a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if files.number == num %}
    <span class="pagination-number pagination-current">{{ num }}</span>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a class="pagination-action" href="?page={{ page_obj.next_page_number }}">
        <i class='bx bx-chevron-right' aria-hidden="true"></i>
    </a>
    <a class="pagination-action" href="?page={{ page_obj.paginator.num_pages }}">
        <i class='bx bx-chevrons-right' aria-hidden="true"></i>
    </a>
    {% endif %}
</div>
<div class="footer">
    <h2>Footer</h2>
</div>
{% endblock %}